<div layout="row" layout-fill layout-align="center">
  <md-card layout-padding flex-gt-sm="30" >
    <form layout="column" name="loginForm">
      <md-input-container>
        <label>Email</label><input ng-model="vm.user.username" required />

      </md-input-container>
      <md-input-container>
        <label>Password</label><input ng-model="vm.user.password" type="password" required />
      </md-input-container>
      <div layout="row" layout-align="center center">
      <div flex>
      <a ui-sref="main.register">Inscribirse</a>
      </div>
      <!-- <div flex>
      <a ui-sref="main.forgotPassword">Olvidaste la password</a>
      </div> -->
      </div>
        <md-button class="md-primary md-raised" ng-click="vm.login()" >Login</md-button>
        <!-- or
        <md-button class="md-fab md-mini">
          <md-icon md-svg-src="assets/images/facebook.svg" href="/facebook"></md-icon>
        </md-button> -->
    </form>
  </md-card>
</div>
